<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "ActiveDirectory" value="yes" />
    <add key = "DomainName" value="LDAP://WOLLUNDRA" />
    <add key = "Outlook" value = "yes" />
    <add key = "WindowsService" value = "yes" />
    <add key = "HomePhone" value = "yes" />
    <add key = "MobilePhone" value = "yes" />
    <add key = "BusinessPhone" value = "no" />
    <add key = "BusinessFax" value = "no" />
    <add key = "Email" value = "no" />
    <add key = "Address" value = "no" />
  </appSettings>
</configuration>